@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+IS:wght@100..400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --border: 0 0% 92.5%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 142 71% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 110 85% 67%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 143 64% 24%;
    --accent-foreground: 0 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --input: 0 0% 20%;
    --ring: 143 64% 40%;
    --hover: 0 0% 95%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --marquee-gradient: hsl(142, 57%, 97%);
  }

  .dark {
    --background: 0 0% 5%;
    --border: 0 0% 10%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    /* --primary: 142 71% 55%; */
    /* --primary-foreground: 0 0% 0%; */
    --secondary: 110 85% 33%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 143 64% 76%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --input: 0 0% 80%;
    --ring: 143 64% 60%;
    --hover: 0 0% 10%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --marquee-gradient: hsl(141, 36%, 9%);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter;
  }
}
